[commit]
        verbose = true
[fetch]
        prune = true
[pull]
	rebase = true
[push]
	default = simple
        autoSetupRemote = true
[merge]
	tool = vimdiff
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = less -F -X
[alias]
	publish = !git pull --rebase && git push
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
        default-branch = !"git remote show origin | sed -n '/HEAD branch/s/.*: //p'"
	mwps = "!git push -o merge_request.create -o merge_request.target=$(git default-branch) -o merge_request.merge_when_pipeline_succeeds"
[color "diff"]
	whitespace = red reverse
[pager]
  color = true


[url "git://anongit.kde.org/"]
  insteadOf = kde:
[url "git@git.kde.org:"]
  pushInsteadOf = kde:

[color "status"]
	branch = magenta
;[init]
	;templatedir = ~/.git_template/template

;[hooks]
  ;enabled-plugins = whitespace
[diff]
	submodule = log
[status]
	submodulesummary = true

[include]
    path = ~/.gitconfig.local
